@import "tailwindcss";

@theme {
  --color-brand: #7c3aed;
  --font-display: "Sora", sans-serif;
}

@variant dark (&:where(.dark, .dark *));

h1 {
  font-size: clamp(2.5rem, 6vw, 5rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}

p {
  font-size: clamp(1rem, 2vw, 1.15rem);
}